<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<title>{{ _site_name }} – {{ title }}</title>
<meta name="description" content="Just Another Awesome Statamic Site">

<!-- Uncomment once you've generated these  
<link rel="icon" type="image/x-icon" href="{{ theme:img src="base/favicon.ico" }}">
<link rel="apple-touch-icon" href="{{ theme:img src="base/apple-touch-icon.png" }}">
<link rel="apple-touch-icon-precomposed" href="{{ theme:img src="base/apple-touch-icon-precomposed.png" }}">
-->